<div style="background: url(assets/images/body.png); text-align: center;">
  <h3 style="color :chartreuse;">Booking Receipt</h3>
  <h5 style="color:chartreuse" >Submit this receipt in the reception and enjoy your movie</h5>
<table style="border-spacing: 100px 50px; border-collapse: separate;">
<tbody>
  <tr>
    <td style="color: blanchedalmond;"><h3>Order id : </h3></td>
    <td style="color: blanchedalmond;"><h3>{{receipt.id}}</h3></td>
  </tr>

  <tr>
    <td style="color: blanchedalmond;"><h3>Movie id : </h3></td>
    <td style="color: blanchedalmond;"><h3>{{receipt.movieid}}</h3></td>
  </tr>

  <tr>
    <td style="color: blanchedalmond;"><h3>Adults : </h3></td>
    <td style="color: blanchedalmond;"><h3>{{receipt.adults}}</h3></td>
  </tr>

  <tr>
    <td style="color: blanchedalmond;"><h3>Children : </h3></td>
    <td style="color: blanchedalmond;"><h3>{{receipt.children}}</h3></td>
  </tr>

  <tr>
    <td style="color: blanchedalmond;"><h3>Time : </h3></td>
    <td style="color: blanchedalmond;"><h3>{{receipt.time}}</h3></td>
  </tr>

  <tr>
    <td style="color: blanchedalmond;"><h3>Date : </h3></td>
    <td style="color: blanchedalmond;"><h3>{{receipt.checkin}}</h3></td>
  </tr>

  <tr>
    <td style="color: blanchedalmond;"><h3>Total Payment : </h3></td>
    <td style="color: blanchedalmond;"><h3>{{receipt.total}}</h3></td>
  </tr>
</tbody>



</table>





</div>
