
 
 <div style="background: url(assets/images/body.png) repeat 0 0;">
  <div class="light-bg">
    <!-- shell -->
    <div class="shell">
      <!-- header -->
      <div class="header">
        <!-- socials -->
        <div class="socials"> <a href="#" class="facebook-ico">facebook-ico</a> <a href="#" class="twitter-ico">twitter-ico</a> <a href="#" class="you-tube-ico">you-tube-ico</a> </div>
        <!-- end of socials -->
        <h1 style="width: 272px; font-size: 0; line-height: 0; float: left;"><a 
         style="height: 75px; background: url(assets/images/logo1.png) no-repeat 0 0; text-indent: -4000px; display: block;" href="#">Movie Booking</a></h1>
        <!-- navigation -->
        <nav  style="width: 669px; height: 66px; padding: 6px 7px 0 8px; margin-top: 10px; position: relative; margin-right: 5px;  background: url(assets/images/navigation.png) no-repeat 0 0; font-family: 'coolvetica', arial, helvetica, serif; font-size: 16px; color: #fff; float: right;">
          <ul style="list-style: none; list-style-position: outside; line-height: 49px;">
            <li style="float: left; background: url(images/navigation-border.png) no-repeat right 0; padding-right: 2px;"><a routerLink = "/movie" style="display: block; color: #fff; text-shadow: rgba(0,0,0,0.5) 0px 2px 2px; padding: 0 36px; position: relative;">Show Movies</a></li>
            <li style="float: left; background: url(images/navigation-border.png) no-repeat right 0; padding-right: 2px;"><a routerLink = "/booking" style="display: block; color: #fff; text-shadow: rgba(0,0,0,0.5) 0px 2px 2px; padding: 0 36px; position: relative;">Reservations </a></li>
            <li style="float: left; background: url(images/navigation-border.png) no-repeat right 0; padding-right: 2px;"><a href="#" style="display: block; color: #fff; text-shadow: rgba(0,0,0,0.5) 0px 2px 2px; padding: 0 36px; position: relative;">Contact us</a></li>
            <li style="float: left; background: url(images/navigation-border.png) no-repeat right 0; padding-right: 2px;"><a routerLink = "/signup" style="display: block; color: #fff; text-shadow: rgba(0,0,0,0.5) 0px 2px 2px; padding: 0 36px; position: relative;">Register</a></li>
            
            
          </ul>
        </nav>
        <!-- end of navigation -->
        <div class="cl">&nbsp;</div>
      </div>
      <!-- end of header -->
      <!-- main -->
 
 <div class="main">
        <!-- content -->
        <section class="content"  >
          <!-- post -->
          <div class="post">
            <!-- post-inner -->
            <div class="post-inner">
              <header>
                <h2><a href="#">About us</a></h2>
                
                <div class="cl">&nbsp;</div>
              </header>
              <div class="img-holder"> <a href="#"><img src="assets/images/theatre.jpg" alt=""></a> <a href="assets/images/post-img.jpg" class="btn-full-image popup"><span>FULL IMAGE</span></a> </div>
              <!-- meta -->
            
              
              <!-- post-cnt -->
              <div class="post-cnt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo orci vitae enim volutpat dapibus. Aliquam pharetra, odio eu luctus semper, dolor libero volutpat mi, sit amet convallis tortor justo eu nisl. Cras quis felis quis felis tempor volutpat id at dui. Donec vel turpis id odio tempus mollis quis vel justo. Etiam tortor nisi, pulvinar a mattis nec, luctus sit amet odio. Morbi id commodo ligula. </p>
                <a href="#" class="more">CONTINUE READING</a> </div>
              <!-- end of post-cnt -->
            </div>
            <!-- post-inner -->
          </div>
          <!-- end of post -->
          <!-- post -->
          <div class="post">
            <!-- post-inner -->
            <div class="post-inner">
              <header>
                <h2><a href="#">Contact Us</a></h2>
                
                <div class="cl">&nbsp;</div>
              </header>
              <div class="img-holder"> <a href="#"><img src="assets/images/post-img2.jpg" alt=""></a> <a href="assets/images/post-img2.jpg" class="btn-full-image popup"><span>FULL IMAGE</span></a> </div>
           
              <!-- post-cnt -->
              <div class="post-cnt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo orci vitae enim volutpat dapibus. Aliquam pharetra, odio eu luctus semper, dolor libero volutpat mi, sit amet convallis tortor justo eu nisl. Cras quis felis quis felis tempor volutpat id at dui. Donec vel turpis id odio tempus mollis quis vel justo. Etiam tortor nisi, pulvinar a mattis nec, luctus sit amet odio. Morbi id commodo ligula. </p>
                <a href="#" class="more">CONTINUE READING</a> </div>
              <!-- end of post-cnt -->
            </div>
            <!-- post-inner -->
          </div>
          <!-- end of post -->
        
        </section>
        <!-- end of content -->
        <!-- sidebar -->
        <aside class="sidebar">
          <div class="widget">
            <h3 class="widgettitle">Languages</h3>
            <ul>
              <li><a href="#">English</a></li>
              <li><a href="#">Tamil</a></li>
              <li><a href="#">Sinhala</a></li>
              <li><a href="#">Telungu</a></li>
              <li><a href="#">Kannada</a></li>
              <li><a href="#">Malayalam</a></li>
              <li><a href="#">French</a></li>
              <li><a href="#">Japanese</a></li>
              <li><a href="#">Chinese</a></li>
             
            </ul>
          </div>
        
          <div class="widget socials-widget">
            <h3 class="widgettitle">Get Connected</h3>
            <ul>
              <li><a href="https://www.facebook.com" class="facebook-ico"><span></span>Facebook</a></li>
              <li><a href="https://www.twitter.com" class="twitter-ico"><span></span>Twitter</a></li>
              <li><a href="https://www.linkedin.com" class="linkedin-ico"><span></span>Linkedin</a></li>
              <li><a href="https://www.youtube.com" class="you-tube-ico"><span></span>Youtube</a></li>
              <li><a href="#" class="rss-ico"><span></span>RSS</a></li>
            </ul>
          </div>
        </aside>
        <!-- end of sidebar -->
        <div class="cl">&nbsp;</div>
      </div>
    